.Bio
{


}

.projects
{

 background-color: #333333;
  border-radius: 1em;
}


.contact_me
{

 background-color: #333333;
  border-radius: 1em;
}

.row {


  border-radius: 1em;
}

.topicList {
  font-size: 2em;
}
